<div class="search-wrapper">
  <div class="search-container">
    <input type="text" placeholder="Search..." class="search-input">
    <button class="search-button">
      <img class="icon" src="/assets/icons/search-50.svg" alt="search image">
    </button>
  </div>
</div>