<%- include('./partials/header.ejs') %>

<div class="content">
  <h2>Europe</h2>
  <p>
    We offer a professional and quick delivery service with in-house packing and
    trusted global couriers in order to deliver your purchased items from Your
    Name HQ safely to your door. If you require a quote please do not hesitate
    to contact us via e-mail at sales@your-name.com or by telephone on
    xxx-xxx-xxx.
  </p>

  <h2>International Shipping</h2>
  <p>
    With an international client base we are extremely experienced at organising
    shipping on your behalf. The couriers we recommend are professional,
    reliable and offer an insured and secure crating service. If you are based
    abroad and would like a quote please contact us via e-mail at
    sales@your-name.com
  </p>
</div>

<%- include('./partials/footer.ejs') %>
