.secret-admin-antique-creation {
  /* General form styles */
  /* TODO Combine repeating form styles into a separate file */
  form {
    min-width: 45vw; /* Set a max-width for the form */
    max-width: 85vw;
    margin: 50px auto; /* Center the form horizontally */
    padding: 20px; /* Add some padding around the form */
    border: 1px solid #ddd; /* Light border */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 2px 5px #212121; /* Subtle shadow for depth */
  }

  form h2 {
    padding: none;
    margin: none;
    color: #212121;
    margin-bottom: 2rem;
  }

  /* Form group styles */
  .form-group {
    margin-bottom: 15px; /* Space between form groups */
  }

  /* Label styles */
  label {
    display: block; /* Make labels block elements */
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold; /* Bold font for labels */
    color: #212121; /* Darker color for better readability */
  }

  .dimensions-main-label {
    font-weight: bold; /* Bold font for labels */
    color: #212121; /* Darker color for better readability */
    margin-bottom: 5px;
  }

  .dimensions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dimensions label {
    font-weight: normal;
    font-size: 0.9rem;
  }

  /* Input styles */
  input[type='text'],
  input[type='file'],
  input[type='number'],
  textarea {
    width: 100%; /* Full width input fields */
    padding: 8px; /* Padding inside the input */
    border: 1px solid #ccc; /* Light border */
    color: #212121;
    border-radius: 4px; /* Slightly rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in total width */
    font-size: 14px; /* Slightly larger font size */
  }

  textarea {
    resize: vertical;
  }

  /* Button styles */
  button[type='submit'] {
    width: 100%; /* Full width button */
    padding: 10px; /* Padding inside the button */
    margin-top: 1rem;
    border: none; /* Remove default border */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #5f5f5f; /* Primary button color */
    color: #dadada; /* White text color */
    font-size: 16px; /* Larger font size for the button */
    cursor: pointer; /* Pointer cursor on hover */
  }

  button[type='submit']:hover {
    background-color: #5f5f5f; /* Darker shade on hover */
  }

  .main-image-preview {
    width: 100%;
    max-height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    background-color: #111111;
    border: 3px solid #525252;
    border-radius: 4px;
  }

  .main-image-preview > img {
    max-width: 30vw;
    max-height: 50vh;
    margin: 1rem;
  }

  .secondary-images-preview {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    color: #212121;
    background-color: #111111;
    border: 3px solid #525252;
    border-radius: 4px;
    gap: 1rem;
  }

  .secondary-images-preview > img {
    max-width: 20vw;
    max-height: 20vh;
  }

  .multiselect {
    width: 100%;
  }

  .selectBox {
    position: relative;
    cursor: pointer; /* Pointer cursor on hover */
  }

  .selectBox select {
    width: 100%; /* Full width button */
    padding: 10px; /* Padding inside the button */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #dadada; /* Primary button color */
    color: #212121; /* White text color */
    font-size: 16px; /* Larger font size for the button */
  }

  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #update-checkboxes {
    display: block;
    border: 1px #dadada solid;
    padding: 10px; /* Padding inside the button */
    border-radius: 4px; /* Slightly rounded corners */
  }

  #checkboxes {
    display: none;
    border: 1px #dadada solid;
    padding: 10px; /* Padding inside the button */
    border-radius: 4px; /* Slightly rounded corners */
  }

  #checkboxes label {
    display: block;
  }

  #checkboxes label:hover {
    background-color: #555555;
    color: #dadada;
    border-radius: 4px; /* Slightly rounded corners */
  }
}
