.secret-admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  /* General form styles */
  form {
    min-width: 45vw; /* Set a max-width for the form */
    margin: 50px auto; /* Center the form horizontally */
    padding: 20px; /* Add some padding around the form */
    border: 1px solid #ddd; /* Light border */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 2px 5px #212121; /* Subtle shadow for depth */
  }

  form h2 {
    padding: none;
    margin: none;
    color: #212121;
    margin-bottom: 2rem;
  }

  /* Form group styles */
  .form-group {
    margin-bottom: 15px; /* Space between form groups */
  }

  /* Label styles */
  label {
    display: block; /* Make labels block elements */
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold; /* Bold font for labels */
    color: #212121; /* Darker color for better readability */
  }

  /* Input styles */
  input[type='text'],
  input[type='password'] {
    width: 100%; /* Full width input fields */
    padding: 8px; /* Padding inside the input */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Slightly rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in total width */
    font-size: 14px; /* Slightly larger font size */
  }

  /* Button styles */
  button[type='submit'] {
    width: 100%; /* Full width button */
    padding: 10px; /* Padding inside the button */
    margin-top: 1rem;
    border: none; /* Remove default border */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #5f5f5f; /* Primary button color */
    color: #dadada; /* White text color */
    font-size: 16px; /* Larger font size for the button */
    cursor: pointer; /* Pointer cursor on hover */
  }

  button[type='submit']:hover {
    background-color: #5f5f5f; /* Darker shade on hover */
  }

  .error-list {
    list-style: none;
    color: #9e2626;
    padding: 0;
  }
}
